:root {
    --bg-0: #00000000; /* Brightest */
    --bg-1: #00000084;
    --bg-2: #00000000;
    --bg-3: #00000000; /* Darkest */
    --text-0: #ff0066; /* Darkest */
    --text-1: #ff0066;
    --text-2: #ff0066;
    --text-3: #ff0066; /* Brightest */
    --color-0: #ff0066; /* "Ring" Color */
    --color-1: #00FF00; /* "Easy" Color */
    --color-2: #FFF000; /* "Medium" Color */
    --color-3: #ff0000; /* "Hard" Color */
}

/* Extra Stuffs. for example, Change the color of LeetCode icon. */
#C {
    fill: #ff0066;
}
#L {
    fill: #60a5fa;
}